@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/Rubik.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('./assets/fonts/Roboto-slab.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--text-header: hsl(43, 100%, 55%);
		--text-light: hsl(0, 17%, 93%);
		--text-body: black;
		--text-dark: hsl(212, 11%, 23%);
		--text-placeholder: hsl(34, 5%, 30%);
		--color-primary: hsl(206, 13%, 14%);
		--color-secondary: hsl(43, 100%, 55%);
		--color-body: hsl(0, 0%, 100%);
		--color-navbar: hsl(215, 19%, 35%, 0.8);
		--carousel-btn: hsl(0, 0%, 80%, 0.4);
		--carousel-dot: hsl(214, 32%, 91%);
		--dark-mode-ball: var(--carousel-dot);
		--brand-inverse: var(--color-secondary)
	}

	:root[data-theme='dark'] {
		--text-header: hsl(43, 67%, 50%);
		--text-light: hsl(34, 5%, 71%);
		--text-body: whitesmoke;
		--text-dark: hsl(30, 3%, 75%);
		--color-secondary: hsl(43, 91%, 25%);
		--color-navbar: hsl(215, 17%, 25%, 0.8);
		--color-body: hsl(240, 6%, 7%);
		--carousel-btn: hsl(204, 5%, 20%, 0.4);
		--carousel-dot: hsl(212, 8%, 64%);
		--dark-mode-ball: hsl(0, 0%, 26%);
		--brand-inverse: var(--text-header)
	}



	/* ------------------*/
	/* General CSS Reset */
	/*-------------------*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}


	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */
	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
	}


	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	body {
		font-size: 1.6rem;
		font-family: 'Rubik', 'Trebuchet MS', sans-serif;
		background-color: var(--color-body);
		color: var(--text-body);
	}

	body,
	main {
		min-height: 100vh;
	}

	html.theme-transition,
	html.theme-transition * {
		transition: background-color 500ms ease-in-out;
	}
}

@layer components {
	.navlink-transition::before {
		content: '';
		position: absolute;
		bottom: 2.3rem;
		left: 50%;
		background-color: var(--brand-inverse);
		opacity: 0;
		transform: translateX(-50%);
		height: 0.5rem;
		width: 0.5rem;
		border-radius: 50%;
		transition: opacity 0.5s ease 0s,
			bottom 0.3s ease 0.1s,
			height 0.5s ease 0.3s,
			width 0.5s ease 0.5s,
			border-radius 0.2s ease 0.5s;
	}

	.navlink-transition:hover::before {
		bottom: -0.7rem;
		height: 0.3rem;
		width: calc(100% + 0.2rem);
		border-radius: 2rem;
		opacity: 1;
	}
}